@font-face {
    font-family: 'WesterlandC';
    src: url('../fonts/WesterlandC.ttf');
  }

body {
    padding: 10px;
    text-align: center;
}

.all_lots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    
}

.lot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    background-color: beige;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
    img {
        max-width: 200px;
        max-height: 200px;
    }
    .buttons {
        box-sizing: border-box;
    }

    h3, h4 {
        font-family: 'WesterlandC','sans-serif';
    }
}

.main_title {
    font-family: 'WesterlandC', 'sans-serif';
}

.lot_main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
    margin-bottom: 70px;
    img {
        max-width: 30%;
    }
    button {
        width: 140px;
    }
    h2 {
        font-family: 'WesterlandC', 'sans-serif';
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-family: 'WesterlandC', 'sans-serif';
        font-size: 2rem;
    }
    img {
        margin-bottom: 15px;
    }
    .watchlist_form_div{
        input {
            margin: 10px;
            margin-bottom: 20px;
        }
        
    }
    ol {
        margin-top: 5px;
        li {
            font-family: 'WesterlandC', 'sans-serif';
            font-size: 1.5rem;
        }
    }

    ul {
        li {
            list-style-type: none;
            font-size: 1.3rem;
        }
    }
    label {
        margin-right: 10px;
    }
    .lot_close_button {
        margin-top: 10px;
    }
}
.login_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.lot_creation_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    input, textarea {
        border: 2px solid black;
    }
    input[name = "title"] {
        width: 300px;
        margin-bottom: 20px;
    }
    input[name = "photo"] {
        width: 600px;
        margin-bottom: 20px;
    }
    input[name = "first_bet"] {
        margin-bottom: 20px;
    }
    textarea {
        width: 500px;
        height: 150px;
        margin-bottom: 20px;
    }
    select {
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
    }

}


h1 {
    font-size: 3.5rem;
}

.h2_main_headers {
    font-family: 'WesterlandC','sans-serif';
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.category_list {
    li {
        list-style-type: none;
        font-family: 'WesterlandC','sans-serif';
        a {
            color: black;
        }
    }
}

.category_header {
    font-family: 'WesterlandC', 'sans-serif';
    font-size: 2.5rem;
}