@font-face {
    font-family: 'WesterlandC';
    src: url('../fonts/WesterlandC.ttf');
  }

body {
    padding: 10px;
    text-align: center;
    // font-family: 'WesterlandC';
}

.all_lots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.lot {
    // display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    background-color: beige;
    border: 1px solid lightgrey;
    // margin-top: 10px;
    margin-bottom: 60px;
    img {
        max-width: 200px;
        max-height: 200px;
    }
    .buttons {
        box-sizing: border-box;
    }
}

.main_title {
    font-family: 'WesterlandC';
}

.lot_main_div {
    box-sizing: border-box;
    margin: 20px;
    margin-bottom: 70px;
    img {
        max-width: 30%;
    }
    button {
        width: 140px;
    }
}
.login_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.lot_creation_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}