{% extends "auctions/layout.html" %}

{% block body %}

    <div class='lot_main_div'>
        <h1>Лот № {{lot.pk}}</h2>
        <h3>{{ lot.title }}</h3>
        <h4>{% if categories.first == categories.last %}Категорія: {% else %}Категорії: {% endif %}
            {% for category in categories %}{{category}}{% if category != categories.last %}, {% else %}.{% endif %}{% endfor %}</h4>
        <img class="lot_photo" src="{{lot.photo}}" alt="Фото відсутнє {{lot.title}}">
        <p>{{lot.description}}</p>
        <h4>Поточна ставка - {{lot.first_bet}}₴</h4>
        <button type="button" class="btn btn-primary">Зробити ставку</button>
        <form action="{% url 'lot' id %}" method="POST">
            {% csrf_token %}
            {% if watched == True %}
            <input type="submit" name='button' value="Відстежувати лот" class="btn btn-warning"></button>
            {% else %}
            <input type="submit" name='button' value="Не відстежувати" class="btn btn-warning"></button>
            {% endif %}
        </form>
    </div>
{% endblock %}