{% extends "auctions/layout.html" %}

{% block body %}
{% csrf_token %}
<h1 class="watchlsit_header">Список відстеження</h1>


<div class='all_lots'>
{% for lot in lots %}
                    <div class='lot'>
                        <h3>Лот № {{lot.pk}}</h3>
                        <h2>{{ lot.title }}</h2>
                        <img class="lot_photo" src="{{lot.photo}}" alt=" Фото відсутнє">
                        <p>{{lot.description}}</p>
                        <h4>Поточна ціна - {{lot.first_bet}}₴</h4>
                        <a href ={% url 'lot' lot.pk %}><button type="button" class="btn btn-secondary">Детальна інформація</button></a>

                    </div>
            {% endfor %}
</div>

{% endblock %}