{% extends "auctions/layout.html" %}

{% block body %}
{% csrf_token %}
<h1>Список відстеження</h1>
<p>{{nick}}</p>
<p>{{lots}}</p>

{% for lot in lots %}
                    <div class='lot'>
                        <h1>Лот № {{lot.pk}}</h2>
                        <h3>{{ lot.title }}</h3>
                        <img class="lot_photo" src="{{lot.photo}}" alt=" Фото відсутнє">
                        <p>{{lot.description}}</p>
                        <h4>Початкова ціна: {{lot.first_bet}}₴</h4>
                        <a href ={% url 'lot' lot.pk %}><button type="button" class="btn btn-secondary">Детальна інформація</button></a>

                    </div>
            {% endfor %}

{% endblock %}